.venv/*
.vs/*
.vscode/*
*.egg-info/
*.egg
dist/
build/

QuantaTextToSql/__pycache__/*
QuantaTextToSql/ablate/__pycache__/*
QuantaTextToSql/finetune/__pycache__/*
QuantaTextToSql/training_data/__pycache__/*
QuantaTextToSql/training_data/fragments/__pycache__/*
QuantaTextToSql/finetune/models/
QuantaTextToSql/finetune/wandb/
QuantaTextToSql/finetune/old/

tests/__pycache__/*