.venv/*
.vs/*
.vscode/*
*.egg-info/
*.egg
dist/
build/

TinySQL/__pycache__/*
TinySQL/ablate/__pycache__/*
TinySQL/corrupt_data/__pycache__/*
TinySQL/finetune/__pycache__/*
TinySQL/load_data/__pycache__/*
TinySQL/training_data/__pycache__/*
TinySQL/training_data/fragments/__pycache__/*
TinySQL/finetune/models/
TinySQL/finetune/wandb/
TinySQL/finetune/old/
TinySQL/finetuning/__pycache__/*
TinySQL/training_data/fragments/__pycache__/*
TinySQL/training_data/__pycache__/*
TinySQL/finetune/__pycache__/
TinySQL/__pycache__/
training_data_old/

tests/__pycache__/*


old/
