torch==2.6.0
einops==0.8.0
requests==2.32.3
datasets==3.0.1
transformers==4.50.0
scikit-learn==1.5.2
scipy==1.13.1
matplotlib==3.9.2
trl==0.11.3
wandb==0.18.3
wheel==0.44.0
flash_attn==2.6.3
accelerate==1.1.1
pandas==2.2.3
ipython==8.18.1
numpy==2.0.2
ipdb==0.13.13
fancy_einsum
tqdm==4.66.5
wandb==0.18.3
python-dotenv==1.0.1
